// No javascript
html.no-js {
    width: 100%;
    height: 100%;
    
    body {
        width: 100%;
        height: 100%;
        
        & > * {
            display: none;
        }
    }
    
    noscript {
        display: inline !important;
        
        iframe {
            display: table;
            width: 100%;
            height: 100%;
            border: 0 none;
        }
    }
}

h1 {
    margin-bottom: 1rem;
}

// classes
.hidden {
    display: none;
}

.like-link {
    border: 0 none;
    padding: 0;
    background: none;
}

#page {
    position: relative;
}

#cookie-law-info {
    padding: ($grid-gutter-width/2);
    width: 100%;
    background-color: #fff;
}

.navbar-dark {
    background-color: #333;
}

.navbar {
    z-index: $zindex-navbar;
    
    .navbar-toggler {
        margin-top: .25rem;
        padding: .25rem .75rem;
        color: #eee;
    }
    
    #navbar-list {
        @include media-breakpoint-down(sm) {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            width: 100%;
            
            .nav {
                
                & > li {
                    width: 100%;
                    margin-left: 0;

                    & > a {
                        padding: 0.5rem;
                        width: 100%;
                    }

                    & > a:hover,
                    &.active > a {
                        box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
                        background-color: rgba(0,0,0,0.3);
                    }
                }
            }
        }
    }
}

.content-container {
    padding: ($grid-gutter-width/2) ($grid-gutter-width/2) 0;
}

$navbar-top-height: ($font-size-lg * $line-height + 0.5rem + 2 * $navbar-padding-vertical);
$sidebar-width: 300px;

#sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: $sidebar-width;
    padding: $navbar-top-height 0 0;
    border-right: 1px solid rgba(0,0,0,0.1);
    z-index: ($zindex-navbar - 1);
    background-color: $gray-lighter;
    
    > .content-container {
        height: 100%;
        width: 100%;
        overflow: hidden;

        &:hover {
            overflow-y: auto;
        }
    }
    
    .player-info.active {
        @extend .card-inverse;
        @extend .card-success;
    }
}

#main {
    margin-left: $sidebar-width;
    padding: $navbar-top-height 0 0;
}

#cards {
    .col {
        @extend .col-xl-1;
        @extend .col-lg-2;
        @extend .col-md-4;
        @extend .col-sm-6;
        @extend .col-xs-12;
    }
    
    .card {
        text-align: center;
        font-size: 50px;
        cursor: pointer;
        height: 117px;
        
        &.removed {
            background-color: transparent;
            border: 0 none;
            
            .fa {
                color: transparent;
            }
        }
        
        .card-block {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

#winner-modal .modal-body {
    text-align: center;
    
    i {
        color: #FFD700;
    }
} 