// BOOTSTRAP
// ---------
$font-family-sans-serif:     'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-base:           $font-family-sans-serif;

$enable-shadows:             true;
$enable-gradients:           true;
$enable-transitions:         true;

// Body
$body-bg:                    $gray-lightest;


// Grid columns
$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 544px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1700px
);

// Alert
$alert-warning-bg:            darken($state-warning-bg, 5%);
$alert-warning-text:          darken($state-warning-text, 10%);
$alert-warning-border:        darken($state-warning-border, 15%);